.container{
    background-color: #f0d78c;
    /*text-align:;*/
    border: solid black;
    line-height: 40%;
    padding-left: 50px;
    padding-top: 30px;
   
   
}


.titre{
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 45px;
    padding-top: 45px;
}

.formation{
    padding-left: 375px;
}


.img{
    padding-bottom: 45px;
    padding-top: 75px;
}

.text{
    font-weight: bold;
    padding-top: 100px;
    font-size: large;
}

.id{
    border: solid black;
    padding-top: 30px;
    padding-left: 45px;
    margin-right: 30px;
    background-color:#feffdf;

}